<!doctype html>
<html ng-app="record">
  <head>
    <base href="/record/">
    <meta charset="utf8" />
    <title>Records</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css"> 
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../views/style.css">
  </head>
  <body class="ng-cloak">
    <div ng-view></div>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script> 
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-touch.js"></script> 
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script> 
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script> 
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script> 
      <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script> 
      <script src="../views/record/record.component.js"></script>
      <script src="../views/record/record.service.js"></script>
    </body>
  </html>
